/* Common items */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 1920px;
  margin: auto;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 84.375%;
  justify-content: space-between;
}

.btn {
  background-image: linear-gradient(to right, #4bd8b5, #49d6df);
  border-radius: 5px;
  border: none;
  font: 900 18px/21.09px Roboto;
  color: #ffffff;
  width: 245px;
  height: 55px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.btn__text {
  padding: 0 0 0 9px;
}

.btn-link {
  text-decoration: none;
}

.info {
  font: 400 14px/16.41px Roboto;
  color: #4f4f4f;
}

.title {
  font: 900 48px/56.25px Roboto;
  color: #333;
}

.ul {
  display: flex;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #333333;
  font: 900 16px/18.75px Roboto;
}

.btn_small {
  border-radius: 5px;
  border: none;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.btn_small:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #1eb18c, #1f7980);
}

.social__list {
  height: 110px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-between;
}

.item_active {
  width: 245px;
  height: 352px;
  overflow: hidden;
  position: relative;
}

.range {
  width: 245px;
}

.number {
  font: 900 24px/28.13px Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-number {
  font: 900 14px/16.41px Roboto;
  color: #bdbdbd;
}

.scroll {
  -webkit-appearance: none;
  width: 245px;
}

.scroll:focus {
  outline: none;
}

.scroll::-webkit-slider-thumb {
  border: none;
  height: 10px;
  width: 30px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}


.scroll::-webkit-slider-runnable-track {
  width: 245px;
  height: 5px;
  cursor: pointer;
  border: none;
  background: #bdbdbd;
}

.item__info {
  position: absolute;
  color: white;
  width: 72%;
  left: 15%;
  top: 475px;
}

.item__title {
  font: 400 14px/16.41px Roboto;
  color: #fff;
  padding-bottom: 10px;
}

.btn-small a {
  text-decoration: none;
  font: 12px/14.06px Roboto;
}

.btn-watch{
  margin-right: 19px;
}

.btn-watch a {
  color: #4bd8b5;
}

.btn-donate a {
  color: #fff;
  text-align: center;
}

.item__btns {
  width: 198px;
  display: flex;
}

/* Icons and images */

.logo__title {
  background-image: url(assets/icons/logo.svg);
  display: inline-block;
  width: 62px;
  height: 42px;
}

.btn__icon {
  background-image: url(assets/icons/watch-online.svg);
  display: inline-block;
  width: 32px;
  height: 32px;
}

.favourite {
  background-image: url(assets/images/favourite_backg.png);
}

.instagram {
  background-image: url(assets/icons/social_instagram.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
}

.twitter {
  background-image: url(assets/icons/social_twitter.svg);
  display: inline-block;
  width: 20px;
  height: 16.25px;
}

.youtube {
  background-image: url(assets/icons/social_youtube.svg);
  display: inline-block;
  width: 20px;
  height: 13.75px;
}

.vk {
  background-image: url(assets/icons/social_vk.svg);
  display: inline-block;
  width: 20px;
  height: 11.41px;
}

.inspire {
  background-image: url(assets/icons/inspiring_inspire.svg);
  display: inline-block;
  width: 80px;
  height: 80px;
}

.mission {
  background-image: url(assets/icons/inspiring_mission.svg);
  display: inline-block;
  width: 80px;
  height: 80px;
}

.believe {
  background-image: url(assets/icons/inspiring_believe.svg);
  display: inline-block;
  width: 80px;
  height: 80px;
}



.arrow_left {
  background-image: url(assets/icons/arrow_left.svg);
  display: inline-block;
  width: 17.62px;
  height: 30px;
}

.arrow_right {
  background-image: url(assets/icons/arrow_right.svg);
  display: inline-block;
  width: 17.62px;
  height: 30px;
}

.arrow_top {
  background-image: url(assets/icons/arrow-top.svg);
  display: inline-block;
  width: 23px;
  height: 16px;
}

.arrow_bottom {
  background-image: url(assets/icons/arrow-bottom.svg);
  display: inline-block;
  width: 23px;
  height: 23px;
}

.footer__title {
  background-image: url(assets/icons/logo_footer.svg);
  display: inline-block;
  width: 59px;
  height: 42px;
}

.form__btn_arrow {
  background-image: url(assets/icons/arrow_footer.svg);
  display: inline-block;
  width: 48px;
  height: 8px;
}

.btn-watch_ellipse {
  background-image: url(assets/icons/ellipse.svg);
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 4px 0 0 9px;
}

.btn-donate_ellipse2 {
  background-image: url(assets/icons/ellipse2.svg);
  display: inline-block;
  width: 24px;
  height: 24px;
}

.btn-watch_pollygon {
  background-image: url(assets/icons/Polygon.svg);
  display: inline-block;
  width: 6px;
  height: 8px;
}

.btn-donate_dollar {
  background-image: url(assets/icons/$.svg);
  display: inline-block;
  width: 9px;
  height: 17px;
}

/* Header */

.header{
  background-color: #fff;
}

.header__wrapper {
  padding-bottom: 19px;
}

.header__title {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.logo {
  padding: 26px 0 0 7px;
}

.menu{
  width: 57%;
}

.menu__list {
  padding-top: 39px;
  justify-content: space-between;
}

.link_active {
  text-decoration: underline;
}

.switch__wrapper {
  padding-top: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
Favourite
*/

.favourite__wrapper {
  max-width: 100%;
  padding-bottom: 439px;
  overflow: hidden;
  position: relative;
}

.information{
  position: absolute;
}

.favourite__title {
  width: 70%;
  letter-spacing: 3px;
  font: 900 4.29vw/104.3px Roboto;
  color: #fefefe;
  padding: 209px 0 0 355px;
  width: 1145px;
}

.favourite-btn__wrapper {
  padding: 38px 0 0 351px;
}

.social {
  padding: 217px 0 0 153px;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -407px;
  left: 44%;
  height: 500px;
}

.gallery__container {
  display: flex;
  width: 994px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: -46px;
  z-index: 2;
}

.gallery__item {
  border-radius: 8px;
}

.gallery__item:hover {
  transform: scale(0.95);
  transform: rotate(2deg);
  transition: 1s;
}

.gallery__item .gallery-item__info {
  top: 237px;
  transition: 1s;
}

.image {
  padding-top: 176px;
  z-index: 1;
}

.gallery__number {
  color: #fff;
}

.gallery .scroll::-webkit-slider-thumb {
  background: #fff;
}

.gallery__range {
  position: absolute;
  bottom: 75px;
  left: 319px;
}

/* Works */

.works {
  background-color: #fff;
}

.works__wrapper {
  padding-bottom: 101px;
  justify-content: center;
}

.works__content {
  width: 790px;
  padding-top: 100px;
  align-items: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.works__title {
  font: 900 48px/56.25px Roboto;
  color: #333;
  width: 100%;
}

.works__info {
  padding-top: 32px;
  padding-bottom: 28px;
}

.works__img {
  padding-bottom: 29px;
  content: url(assets/images/works.png);
}

.works__scroll::-webkit-slider-thumb {
  width: 62px;
}

.works-btn__wrapper {
  padding-top: 27px;
}

/* Inspiring */

.inspiring {
  background-color: #f2f2f2;
}

.inspiring__wrapper {
  padding-bottom: 130px;
}

.inspiring-container {
  display: flex;
  justify-content: space-between;
  width: 89%;
  margin: auto;
  padding: 100px 0 0 17px;
}

.inspiring-container__item {
  width: 380px;
  text-align: center;
}

.inspiring-container__title {
  font: 900 20px/23.44px Roboto;
  color: #333;
  padding-top: 9px;
}

.inspiring-container__info {
  font: 400 14px/16.41px Roboto;
  color: #4f4f4f;
  text-align: left;
  padding-top: 16px;
}

/* Pets */

.pets {
  background-color: #fff;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 101px;
}

.pets__title {
  padding: 100px 0 0 20px;
}

.pets-container {
  width: 1200px;
  justify-content: space-between;
  display: flex;
  padding: 37px 0 0 0;
  justify-content: inherit;
}

.container-container{
  scroll-behavior: smooth;
  width: 1160px;
    overflow: hidden;
}

.container {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
}

.container__item img{
  width: 278px;
  height: 399px;
}

.pets .arrows {
  padding-top: 14%;
}

.arrow:hover {
  cursor: pointer;
}

.container__item {
  overflow: hidden;
  width: 278px;
  height: 399px;
  position: relative;
}

.container__item .item__info{
  top: 102%;
}

.container__item:hover .item__info {
  top: 66%;
  transition: 1s;
}


.container__item_active .pets-item__info{
  top: 66%;
  transition: 1s;
  }

.container__item:hover img {
  filter: brightness(50%);
}

.container__item_active img {
  filter: brightness(50%);
  transition: 1s;
}


.pets-btn__wrapper {
  padding-top: 26px;
}

.pets-btn__wrapper a {
  color: #fff;
}

/* Feed */

.feed {
  background-color: #f2f2f2;
}

.feed__wrapper {
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.feed__title {
  padding-top: 99px;
}

.feed__info {
  padding-top: 32px;
}

.feed-container {
  display: flex;
  align-items: center;
  padding-top: 91px;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

.feed-container__arrow{
  content: url(assets/images/Arrow\ 2.png);
}

.feed-btn__wrapper {
  padding-top: 53px;
}

/* Testimonials */

.testimonials {
  background-color: #fefefe;
}

.testimonials__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.testimonials__title {
  padding: 99px 0 0 20px;
}

.testimonials-container {
  display: flex;
  padding: 62px 0 50px 18px;
  width: 98%;
  justify-content: space-between;
}

.testimonials-container__title {
  font: 900 20px/23.44px Roboto;
  color: #333;
  padding-top: 19px;
}

.testimonials-container__info {
  font: 400 14px/16.41px Roboto;
  color: #4f4f4f;
  padding-top: 19px;
  width: 73%;
}

.testimonials-container__item {
  width: 44.5%;
  height: 310px;
  box-shadow: 2px 4px 15px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  border-radius: 7px;
}

.testimonials-container__arrows {
  padding-top: 140px;
}

.testimonials-btn__wrapper {
  padding: 26px 0 0 13px;
}

/* Map */

.map {
  background-color: #f2f2f2;
}

.map__wrapper {
  flex-direction: column;
  padding: 0px 0 100px 0;
  justify-content: center;
  align-items: center;
}

.map__title {
  padding: 99px 0 0 17px;
}

.map__content {
  top: 64px;
  width: 1200px;
  height: 498px;
  position: relative;
}

.map__map{
  content: url(assets/icons/map.svg);
}

.pin {
  background-image: url(assets/icons/pin.svg);
  width: 66.13px;
  height: 93.38px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 10px;
}

.pin:hover {
  cursor: pointer;
  background-image: url(assets/icons/pin-active.svg);
}

.animal {
  position: absolute;
}

.animal_eagle {
  top: 75px;
  left: 130px;
}

.animal_eagle:hover + .description_eagle {
  display: flex;
}

.animal_alligator {
  top: 102px;
  left: 253px;
}

.animal_alligator:hover + .description_alligator {
  display: flex;
}

.animal_gorilla {
  top: 189px;
  left: 580px;
}

.animal_gorilla:hover + .description_gorilla {
  display: flex;
}

.animal_panda {
  left: 901px;
  top: 90px;
}

.animal_panda:hover + .description_panda {
  display: flex;
}

.description {
  display: none;
  position: absolute;
  width: 436px;
  height: 208.67px;
  background-color: #fff;
  box-shadow: 2px 4px 15px rgb(0 0 0 / 10%);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.description_eagle {
  left: -270px;
  top: 156px;
}

.description_alligator {
  top: 180px;
  left: -149px;
}

.description_gorilla {
  left: 180px;
  top: 267px;
}

.description_panda {
  left: 500px;
  top: 171px;
}

.description img {
  width: 65px;
}

.description__title {
  font: 900 18px/21.09px Roboto;
}

.description__info {
  font: 500 14px/16.41px Roboto;
}

.description__span {
  font: 400 14px/16.41px Roboto;
}

.map-btn__wrapper {
  padding-top: 96px;
}

/* Footer */

.footer {
  background-color: #333;
}

.footer__wrapper {
  flex-direction: column;
  color: #fff;
  padding: 0px 0 78px 0;
}

.footer__content{
  padding-top: 100px;
  height: 600px;
  display: grid;
  grid-template-areas:
  'footer-block1__logo footer-block2__menu footer-block3__btn'
  'footer-block4__contact footer-block5__info footer-block3__btn';
  grid-template-columns: 51% 23% 26%;
    grid-template-rows: 22% 78%;
}

.footer-block1__logo {
  grid-area: footer-block1__logo;
}

.footer-block2__menu{
  grid-area: footer-block2__menu;
}

.footer-block3__btn{
  grid-area: footer-block3__btn;
}

.footer-block4__contact{
  grid-area: footer-block4__contact;
}

.footer-block5__info{
  grid-area: footer-block5__info;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 17px;
}

.footer-menu .link {
  color: #fff;
}

.footer-block3__btn{
  display: flex;
  justify-content: flex-end;
  padding-left: 15px;
}


.btn__top {
  width: 267px;
}


.contact__your-title {
  font: 900 20px/23.44px Roboto;
  padding-bottom: 29px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 392px;
}

.form > * {
  background-color: transparent;
}

.form__input {
  font: 400 14px/16.41px Roboto;
  color: #fff;
  height: 30px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.name {
  margin-bottom: 16px;
}

.email {
  margin-bottom: 24px;
}

.fieldset {
  height: 121px;
  width: 383px;
  font: 400 12px/14.06px Roboto;
  color: #bdbdbd;
  border-radius: 5px;
}

.form__textarea {
  background-color: transparent;
  color: #fff;
  height: 105px;
  width: 383px;
  border: none;
  resize: none;
  border-radius: 5px;
}

.check__wrapper {
  display: flex;
  padding: 26px 0 0 0;
}

.check {
  cursor: pointer;
  appearance: none;
  outline: 0;
  background: transparent;
  height: 16px;
  width: 16px;
  border: 1px solid white;
}

.check:checked {
  background: #2aa1c0;
}

.check:after {
  content: "";
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.check:checked:after {
  display: block;
}

.check_label {
  font: 400 12px/14.06px Roboto;
  color: #bdbdbd;
}

.form__btn_wrapper {
  padding: 17px 15px 0 0px;
  display: flex;
  justify-content: flex-end;
}

.btn_submit {
  background-color: transparent;
  color: #fefefe;
  font: 500 14px/16.41px Roboto;
  border: none;
  width: 106px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__our-title {
  font: 700 14px/16.41px Roboto;
  letter-spacing: 1px;
}

.contact__address {
  font: 400 14px/16.41px Roboto;
  color: #fefefe;
  padding: 39px 0 0 0;
}

.contact-link {
  color: #fefefe;
  text-decoration: none;
}

.footer .social__list {
  display: flex;
  flex-direction: row;
  width: 132px;
  padding: 31px 0 0 7px;
}

.footer__line {
  padding: 0px 0 0 10px;
}

.footer__line img{
  width: 100%;
}

.copyright {
  color: #bdbdbd;
  font: 400 12px/14.06px Roboto;
  padding: 21px 0 0 2px;
}

/* Live broadcast */

.main {
  position: relative;
  height: 100%;
  height: 1100px;
  box-shadow: inset 2px 15px 15px -15px rgb(0 0 0 / 10%);
}

.side-bar {
  position: sticky;
  width: 200px;
  top: 158px;
}

.side-bar__wrapper {
  display: flex;
  height: 598px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.side-bar__menu {
  height: 518px;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar__link_active {
  display: flex;
  align-items: center;
  border: 6px solid white;
  border-radius: 50%;
}

.side-bar__item_active {
  border: 5px solid transparent;
  background: linear-gradient(45deg, #07eee0, #df496d) border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.zoo {
  position: absolute;
  top: 0;
  left: 200px;
  width: 88%;
}

.zoo__wrapper {
  width: 81%;
  display: flex;
  flex-direction: column;
}

.zoo__title {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 75%;
}

.zoo__content {
  display: flex;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 790px;
}

.video__main {
  width: 100%;
  height: 450px;
}

.videos__small {
  grid-auto-flow: column;
    overflow: hidden;
    display: grid;
    grid-gap: 26px;
  width: 100%;
  padding-top: 20px;
}

.video__small {
  z-index: 1;
  height: 143px;
  width: 246px;
}

.block{
  position: relative;
}

.video-block{
  z-index: 10;
  position: absolute;
  border: 1px solid black;
  height: 143px;
  width: 246px;
}

.videos__btns {
  padding-top: 30px;
  display: flex;
  width: 40px;
  justify-content: space-between;
}

.videos__btn {
  border-radius: 50px;
  height: 8px;
  width: 8px;
  background-color: #c4c4c4;
}

.videos__btn:hover {
  cursor: pointer;
}

.btn_active {
  width: 11px;
  height: 11px;
  background-image: linear-gradient(to right, #4bd8b5, #49d6df);
}

.animal-description {
  width: 48%;
  padding-left: 30px;
}

.animal-description__title {
  font: 900 20px/23.44px Roboto;
  color: #333;
  line-height: 30px;
  padding-bottom: 11px;
}

.animal-description__info {
  font: 400 14px/16.41px Roboto;
  color: #4f4f4f;
}
.animal-description__btn {
  padding-top: 46px;
}

.animal-description__btn .btn {
  width: 192px;
}

/* Map */

.intermediate {
  box-shadow: inset 2px 15px 15px -15px rgb(0 0 0 / 10%);
}

.intermediate__wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 101px;
}

.intermediate__title {
  padding-top: 59px;
  padding-left: 19px;
}

.intermediate__info {
  padding: 22px 0 0 0;
  width: 782px;
}

.intermediate__container {
  display: flex;
  justify-content: space-between;
  padding: 58px 0 0 0;
  width: 1170px;
  align-items: center;
}

.intermediate__menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1057px;
}

.intermediate__range {
  padding-top: 30px;
}

.intermediate .map__content {
  top: 76px;
}

.intermediate-btn__wrapper {
  padding-top: 121px;
}

.intermediate .animal .pin_active{
  background-image: url(assets/icons/pin-active.svg);
}


@media only screen and (max-width: 1200px) {

  body {
    max-width: 1200px;
  }

  /* Header */

  .logo {
    padding: 26px 0 0 52px;
}

.switch__wrapper {
  padding-right: 54px;
}

/* Favourite */

.favourite{
  background-image: url(assets/images/favourite-backg1200.png);
}

.favourite__wrapper {
  padding-bottom: 426px;
}

.favourite__title{
  padding: 10.6% 0 0 12.6%;
  width: 79%;
    letter-spacing: 0.7px;
  font: 900 7.29vw/104.3px Roboto;
}

.favourite-btn__wrapper {
  padding: 37px 0 0 12.4%;
}

.social {
  padding: 26.8% 0 0 12.5%;
}

.gallery {
  bottom: -431px;
  left: 40%;
}

.gallery__container {
  width: 1094px;
  right: -145px;
}

.image {
  padding-top: 178px;
  z-index: 1;
}

.gallery__item{
  width: 183px;
  height: 261px;
}

.gallery__item img{
  width: 100%;
}

.gallery__item {
    border-radius: 8px;
    padding-left: 3px;
}
.item_active {
    width: 245px;
    height: 352px;
}


.gallery__range {
    position: absolute;
    bottom: 14%;
    left: 32.5%;
}

/* Works */

.works__wrapper {
  padding-bottom: 99px;
}

.works__content{
  width: 93%;
}

.works__title{
  padding-left: 98px;
}

.works__info {
  padding-top: 30px;
  width: 79%;
  padding-bottom: 15px;
}

.works__img{
  width: 79%;
  content: url(assets/images/works1200.png);
}

.works__range .scroll::-webkit-slider-thumb {
  border: none;
  height: 10px;
  width: 80px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}

/* Inspiring */

.inspiring__wrapper {
  padding-bottom: 114px;
}

.inspiring-container {
  padding: 101px 0 0 0px;
}

.inspiring-container__item {
  width: 286px;
}

/* Pets */

.pets__title {
  padding: 100px 0 0 0px;
}

.pets-container {
  padding: 0;
}

.pets .arrows {
  padding-top: 17.3%;
}

.container {
  width: 91.5%;
  padding-left: 2px;
  padding-bottom: 17px;
}

.container__item{
  padding-top: 32px;
}

.pets__range{
  padding-top: 1px;
    padding-left: 3px;
}

/* Feed */

.feed__wrapper {
  padding-bottom: 99px;
}

.feed-container {
    padding-top: 46px;
    width: 90%;
}

.feed-container__item img{
  width: 100%;
}

.feed-container__arrow{
  content: url(assets/icons/arrow1200.svg);
}

.feed-btn__wrapper {
  padding-top: 47px;
}

/* Testimonials */

.testimonials__title {
  padding: 99px 0 0;
}

.testimonials-container {
  padding: 62px 0 51px 0px;
  padding-bottom: 51px;
}

.testimonials-btn__wrapper {
  padding: 26px 0 0 0;
}

.person-2 .testimonials-container__title{
  margin-left: -5px;
}

.person-2 .testimonials-container__info{
  margin-left: -10px;
}

/* Map */

.map__title {
  padding: 99px 0 0 0;
}

.map__map{
  content: url(assets/icons/map1200.svg);
  width: 100%;
  height: 100%;
}

.map__content{

  top: 62px;
  width: 89%;
  height: 435px;
}

.animal_eagle {
  top: 12.5%;
  left: 9.5%;
}

.animal_alligator {
  top: 15%;
  left: 19%;
}

.animal_gorilla {
  top: 36%;
  left: 47%;
}

.animal_panda {
  left: 73%;
  top: 15%;
}

.description{
  width: 48%;
    height: 34%;
}

.description img{
  margin: 0px 0 0 -7px;
}

.description__title {
  margin: -3px 0 0 22px;
}

.description__info {
  padding: 3px 0 0 22px;
}

.description_eagle {
  left: 11%;
    top: 30%;
}

.description_alligator {
  top: 32%;
  left: 23%;
}

.description_eagle_active{
  display: flex;
}

.description_gorilla {
  left: 50%;
  top: 54%;
}

.description_panda {
  left: 76%;
  top: 33%;
}

/* Footer */

.footer__wrapper {
  padding: 0px 0 55px 0;
}

.footer__content{
  grid-template-areas:
  'footer-block1__logo footer-block2__menu'
  'footer-block4__contact footer-block5__info'
  'footer-block4__contact footer-block3__btn';
  grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
}

.footer-block1__logo{
  padding-left: 55px;
}

.footer-menu {
  width: 77%;
  padding-top: 19px;
  padding-left: 11px;
}

.footer-block3__btn{
  padding: 25px 0 0 13px;
  display: block;
}

.footer-block4__contact{
  padding-left: 56px;
    padding-top: 13px;
}

.form {
  width: 87%;
}

.fieldset {
  width: 98%;
}

.form__textarea {
  width: 99%;
}

.form__btn_wrapper {
  padding: 11px 26px 0 0px;
}

.footer-block5__info{
  padding-left: 10px;
}

.contact__address {
  line-height: 18px;
  padding: 39px 0 0 0;
}

.footer .social__list {
  width: 126px;
  padding: 20px 0 0 0px;
}

.footer__line {
  padding: 22px 0 0 10px;
  display: flex;
  justify-content: center;
}

.footer__line img{
  width: 90%;
}

.copyright {
  padding: 34px 0 0 55px;
}


/* Intermediate */

.intermediate__wrapper {
  padding-bottom: 99px;
}


.intermediate__title {
  padding-left: 0px;
}

.intermediate__info{
  width: 78%;
}

.intermediate__container {
  width: 78%;
}

.intermediate__menu{
  width: 100%;
}

.intermediate__link img{
  width: 100%;
}

.intermediate__item{
  padding-right:2px ;
}

.intermediate__menu .intermediate__item:nth-child(3){
  margin: 0px 21px 0 0;
}

.intermediate__menu .intermediate__item:nth-child(4){
  margin: 0 23px 0px 0px;
}

.intermediate__menu .intermediate__item:nth-child(n+6){
  display: none;
}

.intermediate__container {
  width: 78%;
  padding: 39px 0 0 0;
}

.intermediate .pin{
  background-image: url(assets/icons/inter-pin1200.svg);
  width: 58.78px;
  height: 83.1px;
}

.intermediate .pin_active{
  background-image: url(assets/icons/inter-pin-active1200.svg);
  width: 67px;
  height: 94px;
}

.intermediate__animals{
  width: 83%;
}

.intermediate__range {
  padding-top: 22px;
}

.intermediate .map__content{
  width: 79%;
  top: 23px;
}

.intermediate .animal_eagle {
  top: 16.5%;
  left: 9.5%;
}

.intermediate .animal_alligator {
  top: 19%;
  left: 20%;
}

.intermediate .animal_gorilla {
  top: 37%;
  left: 47%;
}

.intermediate .animal_panda {
  left: 72.5%;
  top: 18.5%;
}

.intermediate-btn__wrapper {
  padding-top: 34px;
}

/* Broadcast */

.main {
  padding-bottom: 15.7%;
}


.side-bar {
  width: 13%;
}

.side-bar__wrapper {
  height: 526px;
}

.side-bar__menu .side-bar__item_active{
  width: 88%;
  margin-bottom: 21px;
}

.side-bar__menu .side-bar__item_active img{
  margin-left: 5px;
}

.side-bar__menu {
  height: 434px;
}

.side-bar__item img{
  width: 88%;
}

.zoo__wrapper{
  max-width: 100% !important;
  width: 100%;
}

.videos {
  width: 50%;
}
.video__main {
  height: 298px;
}

.video__small {
  height: 101px;
}

.videos__btns {
  padding-top: 30px;
  margin-left: -21px;
}

.animal-description {
  width: 26%;
  padding-left: 18px;
  margin-top: -8px;
}

.animal-description__title{
  line-height: 38px;
  padding-bottom: 7px;
}

.animal-description__btn {
  padding-top: 11px;
}

.animal-description__btn .btn {
  width: 72%;
}

}

@media only screen and (max-width: 640px){
  body {
    max-width: 640px;
    margin: auto;
  }

  .wrapper{
    max-width: 100%;
  }

  /* Header */

  .logo {
    padding: 26px 0 0 18px;
 }

 .menu{
  display: none;
 }

 .switch__wrapper {
  padding-right: 21px;
  display: flex;
  align-items: center;
  padding-top: 21px;
}

.burger{
  content: url(assets/icons/burger.svg);
  padding-left: 32px;
}

.burger:hover{
  cursor: pointer;
}

 /* Favourite */

 .favourite {
  background-image: url(assets/images/favourite-backg_640.png);
}

.favourite__wrapper {
  padding-bottom: 434px;
}

.favourite__title {
  padding: 18.6% 0 0 3.1%;
  width: 95%;
  letter-spacing: 0.1px;
  font: 902 10vw/75.3px Roboto;
}

.favourite-btn__wrapper {
  padding: 34px 0 0 3.4%;
}

.social {
  padding: 57.9% 0 0 3.2%;
}

.image{
  margin-left: 0.4%;
}

.gallery {
  bottom: -409px;
  left: 8%;
}

.gallery__container {
  right: -82px;
}

.gallery__item .gallery-item__info {
  top: 235px;
}

.gallery__range {
  left: 26.5%;
}

  /* Works */

  .works__wrapper {
    padding-bottom: 68px;
}

  .works__content {
    width: 94%;
}

.works__title {
  padding: 0;
}

.works__info {
  padding-top: 31px;
    width: 99%;
    padding-bottom: 28px;
}

.works__img {
  width: 100%;
  content: url(assets/images/works_640.png);
}

.works__range{
  padding-top: 2px;
}

  /* Inspiring */

  .inspiring__wrapper {
    padding-bottom: 51px;
}

  .inspiring-container {
    padding: 99px 0 0 0px;
    align-items: center;
    flex-direction: column;
}

.inspiring-container__item {
  padding-bottom: 48px;
}

/* Pets */

.pets__wrapper {
  padding-bottom: 99px;
}

.pets__title{
  padding-bottom: 34px;
}

.pets .arrows{
  display: none;
}

.container{
  position: relative;
  overflow: hidden;
  width: 98%;
  padding-left: 14px;
  height: 336px;
}

.container .container__item:nth-child(4){
  display: none;
}

.container__item{
  padding: 0;
  position: absolute;
  width: 214px;
  height: 301px;
}

.container__item_active .pets-item__info {
  top: 186px !important;
}

.container__item:nth-child(2){
  left: 245px;
}

.container__item:nth-child(3){
  left: 475px;
}

.pets-btn__wrapper {
  padding-top: 32px;
}

/* Feed */

.feed__info {
  padding-top: 19px;
  width: 83%;
  text-align: center;
}

.feed-container {
  flex-direction: column;
  justify-content: space-between;
    height: 989px;
}

.feed-container__arrow {
  content: url(assets/icons/arrow640-320.svg);
}

.feed-btn__wrapper {
  padding-top: 44px;
}

/* Testemonials */

.testimonials__wrapper{
  padding-bottom: 99px;
}

.testimonials-container{
  justify-content: center;
  padding: 47px 0 51px 0px;
}


.testimonials-container__arrows {
  display: none;
}

.person-1{
  display: none;
}

.testimonials-container__item{
  width: 93.5%;
}

/* Map */

.map__wrapper{
  padding: 0px 0 80px 0;
}

.map__content {
  top: 9px;
  width: 94%;
  height: 376px;
}

.map__map {
  content: url(assets/icons/map640.svg);
}

.animal{
  z-index: 5;
}

.animal_eagle {
  top: 13%;
  left: 9%;
}

.animal_alligator {
  top: 16%;
  left: 17%;
}

.animal_gorilla {
  top: 29%;
  left: 45%;
}

.animal_panda {
  left: 71%;
  top: 15%;
}

.description {
  z-index: 100;
  width: 72%;
  height: 39%;
}

.description_eagle {
  left: 14%;
  top: 32%;
}

.description_alligator {
  top: 36%;
  left: 22%;
}

.description_gorilla {
  left: 50%;
  top: 47%;
}

.description_panda {
  left: 76%;
  top: 35%;
}

.map-btn__wrapper{
  padding: 0;
}

/* Footer */


.footer__content{
  height: 937px;
  grid-template-areas:
  'footer-block1__logo footer-block3__btn'
  'footer-block2__menu footer-block2__menu'
  'footer-block4__contact footer-block4__contact'
  'footer-block5__info footer-block5__info';
  grid-template-columns: 40% 60%;
    grid-template-rows: 7% 14% 48% 31%;
    padding-top: 96px;
}

.footer-block1__logo {
  padding-left: 21px;
}

.footer-menu {
  flex-direction: column;
  padding-top: 12px;
  padding-left: 21px;
}

.footer-block3__btn {
  padding: 0 24px 0 0 ;
  display: flex;
}

.footer-block4__contact{
  padding: 12px 0px 0 21px;
}

.form {
  width: 63%;
}

.footer-block5__info{
  padding: 28px 0 0 20px;
}

.footer__line img {
  width: 94%;
}

.copyright {
  padding: 31px 0 0 21px;
}


/* Intermediate */

.intermediate__info {
  width: 94%;
}

.intermediate__container {
  width: 92%;
  padding: 39px 0 0 0;
}

.intermediate__animals {
  width: 88%;
}

.intermediate__menu .intermediate__item:nth-child(n+5){
  display: none;
}
.intermediate__menu .intermediate__item:nth-child(3){
  margin: 0;
}

.intermediate__menu .intermediate__item:nth-child(4){
  margin: 0 ;
}

.intermediate .map__content {
  height: 353px;
  width: 93%;
  top: 0px;
}

.intermediate .animal_eagle {
  top: 12.5%;
  left: 9%;
}

.intermediate .animal_alligator {
  top: 15%;
  left: 17.5%;
}

.intermediate .animal_gorilla {
  top: 30%;
  left: 45.5%;
}

.intermediate .animal_panda {
  left: 71.5%;
  top: 12.5%;
}

.intermediate-btn__wrapper {
  padding-top: 5px;
}

.intermediate__wrapper {
  padding-bottom: 79px;
}

/* Broadcast */

.main {
  padding-bottom: 563px;
}

.side-bar {
  width: 16%;
}

.side-bar__wrapper {
  height: 419px;
}

.side-bar__menu {
  height: 331px;
}

.side-bar__item_active img {
  width: 100% !important;
  margin: 0 !important;
}

.side-bar__item_active{
  margin: 0 0 15px 0 !important;
}

.side-bar__item{
  margin: 0 0 0 18px;
}

.side-bar__item img {
  width: 81%;
}

.zoo {
  left: 19%;
}

.zoo__title {
  padding-top: 57px;
  padding-bottom: 37px;
  padding-left: 11px;
}

.zoo__content {
  flex-direction: column;
}

.videos {
  width: 89%;
}

.video__main {
  height: 283px;
}

.videos__small {
  padding-top: 12px;
}

.video__small {
  height: 92px;
  width: 32%;
}

.videos__btns {
  padding-top: 28px;
  margin-left: 0px;
}

.animal-description {
  width: 77%;
  margin: 0;
  padding: 40px 0 0 0;
}

.animal-description__btn {
  padding-top: 2px;
}

.animal-description__btn .btn {
  width: 43%;
}

}

@media only screen and (max-width: 320px){

  body {
    max-width: 320px;
    margin: auto;
  }

  .title {
    font: 900 36px/42.19px Roboto;
  }

  /* Header */

  .header__wrapper {
    padding-bottom: 17px;
}

  .logo {
    padding: 25px 0 0 7px;
}

.switch__wrapper {
  padding-right: 12px;
}

.burger {
  padding-left: 23px;
}

/* Favourite */

.favourite__wrapper {
  padding-bottom: 170px;
}

.favourite{
  background-image: url(assets/images/favourite-backg_320.png);
}

.favourite__title {
  padding: 28.6% 0 0 3.1%;
  width: 95%;
  letter-spacing: 0.1px;
  font: 902 15vw/56.3px Roboto;
}

.favourite-btn__wrapper {
  padding: 17px 0 0 3.4%;
}

.social{
  display: none;
}

.gallery {
  bottom: -276px;
  left: 0%;
}

.gallery__container {
  width: 621px;
  right: 435px;
  top: 90px;
}

.gallery__item {
  width: 113px;
  height: 164px;
}

.gallery .item_active{
width: 140px;
height: 202px;
}

.gallery .item_active .gallery-item__info {
  top: 75px;
  left: 10px;
}

.gallery-item__info .item__title {
  width: 138px;
  transform: scale(0.9);
  margin: -4px 0 -12px -8px;
}

.gallery__item .gallery-item__info {
  top: 75px;
  left: 10px;
}

.item__btns {
  display: flex;
  flex-direction: column;
}

.btn-watch {
  margin-bottom: 8px;
}
/* Work */

.works__wrapper {
  padding-bottom: 48px;
}

.works__content{
  padding-top: 50px;
}

.works__info {
  padding-top: 21px;
}

.works__img{
  content: url(assets/images/works320.png);
  padding-bottom: 19px;
}

.works__range{
  padding-left: 7px;
}

.works-btn__wrapper {
  padding-top: 19px;
  width: 79%;
}

/* Inspiring */

.inspiring__wrapper {
  padding-bottom: 24px;
}

.inspiring-container {
  padding: 50px 0 0 0px;
  width: 100%;
}

.inspiring-container__item {
  padding-bottom: 27px;
  width: 100%;
}

.inspiring-container__info {
  width: 100%;
  padding-left: 11px;
}

/* Pets */

.pets__title {
  padding-bottom: 28px;
}

.pets-container {
  width: 98%;
}

.container {
  padding-left: 8px;
}

.container__item:nth-child(2) {
  left: 234px;
}

.pets__range {
  padding-top: 0px;
  padding-left: 0px;
}

.pets-btn__wrapper {
  padding-top: 20px;
}

.pets__wrapper {
  padding-bottom: 48px;
}

.container__item:hover .item__info {
  top: 186px !important;
}

/* Feed */

.feed__wrapper {
  padding-bottom: 50px;
}

.feed__title {
  padding-top: 50px;
}

.feed__info {
  display: none;
}

.feed-container {
  padding-top: 30px;
  height: 972px;
}

.feed-btn__wrapper {
  padding-top: 33px;
}

/* Testemonials */

.testimonials__title {
  padding: 50px 0 0;
}

.person-1{
  display: flex;
}

.person-2{
  display: none;
}

.testimonials-container {
  padding: 36px 0 41px 0px;
}

.testimonials-container__item {
  height: 362px;
  padding-top: 50px;
}

.testimonials-container__title {
  font: 900 16px/18.75px Roboto;
  padding-top: 49px;
}

.testimonials-container__info {
  width: 94%;
}

.testimonials-btn__wrapper {
  padding: 17px 0 0 0;
}

.testimonials__wrapper {
  padding-bottom: 50px;
}

/* Map */

.map__wrapper {
  padding: 0px 0 60px 0;
}

.map__title {
  padding: 50px 0 0 0;
}

.map__content {
  height: 187px;
}

.pin{
  background-image: url(assets/icons/pin320.svg);
  width: 48px;
  height: 57px;
}

.animal_alligator .pin{
  background-image: url(assets/icons/pin320alligator.svg);
}

.animal_panda .pin{
  background-image: url(assets/icons/pin320panda.svg);
}

.pin:hover{
  background-image: url(assets/icons/pin320.svg);
}

.pin img{
  display: none;
}

.animal_eagle {
  top: 12%;
  left: 4%;
}

.animal_alligator {
  top: 12%;
  left: 13%;
}

.animal_panda {
  left: 68%;
  top: 11%;
}

.description_img {
  margin: -32px 0 0 22px;
}

.description img {
  width: 100% !important;
}

.description__title {
  margin: 9px 0 7px 0px;
}

.description__info{
  padding: 0;
}

.description_eagle {
  left: 10%;
  top: 30%;
  width: 79%;
  height: 60%;
}

.description_img{
  margin: -32px 0 0 17px;
}

.description img {
  width: 79%;
}

.description__title {
  font: 900 14px/16.41px Roboto;
}

.description__info {
  font: 500 11px/12.89px Roboto;
}

.description__span {
  font: 400 11px/12.89px Roboto;
}

.description__content{
  margin: -13px 0 0 0;
}

.map-btn__wrapper {
  padding: 19px 0 0 0;
}

/* Footer */

.footer__wrapper {
  padding: 0px 0 30px 0;
}

.footer__content {
  height: 937px;
  grid-template-areas:
      'footer-block1__logo'
      'footer-block2__menu'
      'footer-block4__contact'
      'footer-block5__info'
      'footer-block3__btn';
  grid-template-columns: 100%;
  grid-template-rows: 8% 14% 43% 28% 7%;
  padding-top: 50px;
}

.footer-block1__logo {
  padding-left: 11px;
}

.footer-menu {
  padding-top: 10px;
  padding-left: 11px;
}

.footer-block4__contact {
  padding: 4px 0px 0 10px;
}

.form {
  width: 98%;
}

.check__wrapper {
  display: flex;
  padding: 21px 0 0 0;
}

.form__btn_wrapper {
  padding: 15px 6px 0 0px;
}

.footer-block5__info {
  padding: 20px 0 0 10px;
}

.footer-block3__btn {
  padding: 0 26px 0 0;
}

.footer__line {
  padding: 73px 0 0 10px;
}

.footer__line img {
  width: 99%;
}

.copyright {
  padding: 33px 0 0 11px;
}

/* Intermediate */

.intermediate__title{
  font: 900 24px/28.13px Roboto;
  padding-top: 36px;
}

.intermediate__info{
  padding: 0;
  font:400 12px/14.06px Roboto;
  width: 101%;
  line-height: 16.9px;
  transform: scale(0.88);
}

.intermediate__container {
  width: 83%;
  padding: 23px 0 0 0;
}

.intermediate__menu .intermediate__item:nth-child(n+4){
  display: none;
}

.intermediate__menu .intermediate__item:nth-child(3){
  margin: 0;
}

.intermediate__menu .intermediate__item:nth-child(4){
  margin: 0 ;
}

.intermediate__range {
  padding-top: 9px;
  width: 223px;
}

.intermediate__number{
  padding-left: 21px;
}

.intermediate .map__content {
  height: 208px;
}

.intermediate .pin {
  background-image: url(assets/icons/map-pin-320.svg);
  width: 33.38px;
  height: 47.14px;
}

.intermediate .pin_active {
  background-image: url(assets/icons/map-pin-active-320.svg) !important;
  width: 33.38px;
  height: 47.14px;
}

.intermediate .pin img{
  display: flex;
  width: 65%;
    margin-top: -4px;
}

.intermediate .animal_eagle {
  top: 15.5%;
  left: 8%;
}

.intermediate .animal_alligator {
  top: 21%;
  left: 17%;
}

.intermediate .animal_gorilla {
  top: 32.5%;
  left: 45%;
}

.intermediate .animal_panda {
  left: 72.5%;
  top: 18.5%;
}

.intermediate__wrapper {
  padding-bottom: 59px;
}

/* Broadcast */

.main {
  padding-bottom: 429px;
}

.side-bar__wrapper {
  height: 270px;
}

.side-bar {
  width: 23%;
  top: 132px;
  height: 258px;
}

.side-bar__menu {
  height: 204px;
}

.side-bar__item {
  margin: 0 0 0 21px;
}

.side-bar__item_active {
  margin: 0 0 2px 0 !important;
}

.side-bar__item img {
  width: 75%;
}

.zoo__title {
  font: 900 24px/28.13px Roboto;
  padding-top: 37px;
  padding-bottom: 18px;
    padding-left: 40px;
}

.videos {
  width: 85%;
  padding-left: 32px;
}

.video__main {
  height: 118px;
  width: 100%;
}

.videos__small {
  padding-top: 7px;
}

.videos__small .video__small:nth-child(3){
  display: none;
}

.video__small {
  height: 60px;
  width: 48%;
}

.videos__btns {
  padding-top: 20px;
  margin-left: 0px;
}

.animal-description {
  width: 85%;
  margin: 0;
  padding: 22px 0 0 33px;
}

.animal-description__title {
  font: 900 14px/16.41px Roboto;
  line-height: 32px;
}

.animal-description__info {
  margin-left: -14px;
  line-height: 16px;
  transform: scale(0.88);
  font: 400 12px/14.06px Roboto;
  width: 115%;
}

.animal-description__btn {
  padding-top: 8px;
}

.animal-description__btn .btn {
  width: 90%;
}


}



/* Dark theme */

input:checked + .slider:before {
  background-color: #1b1b1b;
}

input:checked + .slider {
  background-color: #4f4f4f;
}

.dark3{
  background-color: #333;
}

.dark4{
  background-color: #4f4f4f;
}

.dark-w{
  color: #fff;
}

.dark-logo {
  width: 60px;
  background-image: url(assets/icons/logo_footer.svg);
}

.dark-f2{
  color: #f2f2f2;
}

.dark-map{
  content: url(assets/icons/dark-map.svg);
}

.dark-number{
  color: #fff;
}

 .dark-scroll::-webkit-slider-thumb{
  background: #fff !important;
}

.dark-arrow-r{
  background-image: url(assets/icons/arrow_right-dark.svg);
}

.dark-arrow-l{
  background-image: url(assets/icons/arrow_left-dark.svg);
}


.dark-scroll{
  -webkit-appearance: none;
}


.dark-scroll::-webkit-slider-thumb {
  background: rgb(153, 9, 9) !important;
}